.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.main-nav {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  background-color: white;
  height: 80px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 20;
}

.main-nav a {
  float: left;
  display: block;
  color: pink;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  line-height: 50px;
}

.main-nav .active {
  background-color: white;
  color: white;
  padding: 0;
  height: 50px;
}

.main-nav a:hover {
  background-color: white;
  color: black;
}

.main-nav .icon {
  display: none;
}

.main-nav .active img {
  height: 50px;
}

.main-nav .drop-down {
  position: relative;
  display: inline-block;
}

.main-nav .dropdown-content {
  display: none;
  position: absolute;
  top: 78px;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.main-nav .drop-down:hover .dropdown-content {
  display: block;
}

.main-nav .search-bar {
  float: right;
  position: relative;
  top: 30px;
}

.main-nav .button i {
  font-size: 20px;
}

.drop-down span {
  display: none;
}

.box2 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  border: solid 1px pink;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.number-text {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.first-background {
  background: url("../images/Code4CT-homepage.jpg") center, -webkit-gradient(linear, left top, left bottom, from(#2b3946), to(#384a5b));
  background: url("../images/Code4CT-homepage.jpg") center, linear-gradient(180deg, #2b3946, #384a5b);
  background-size: cover;
  background-repeat: no repeat;
  padding: 9em 26%;
  color: white;
}

.first-background article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  background-color: rgba(255, 120, 187, 0.5);
  padding: 20px;
}

.first-background article h1 {
  margin: 0;
  text-align: center;
  font-size: 40px;
  opacity: 1;
}

.first-background article p {
  margin: 0;
  text-align: center;
  font-size: 20px;
  opacity: 1;
  color: #fff;
}

.first-background button {
  width: 150px;
  border: solid 2px white;
  color: white;
  padding: 10px;
  margin: 0 auto;
  background-color: transparent;
  margin-left: 100px;
}

.first-background button button:hover {
  background-color: grey;
  opacity: 0.5;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.second-background {
  background: url("../images/code4ct_homeslider3.jpg") center, -webkit-gradient(linear, left top, left bottom, from(#2b3946), to(#384a5b));
  background: url("../images/code4ct_homeslider3.jpg") center, linear-gradient(180deg, #2b3946, #384a5b);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 9em 26%;
  color: white;
}

.second-background article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  background-color: rgba(255, 120, 187, 0.5);
  padding: 20px;
}

.second-background article h1 {
  margin: 0;
  text-align: center;
  font-size: 40px;
  opacity: 1;
}

.second-background article p {
  margin: 0;
  text-align: center;
  font-size: 20px;
  opacity: 1;
  color: #fff;
}

.second-background button {
  width: 150px;
  border: solid 2px white;
  color: white;
  padding: 10px;
  background-color: transparent;
  margin-left: 100px;
}

.second-background button button:hover {
  background-color: grey;
  opacity: 0.5;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.third-background {
  background: url("../images/Code4CT-WhyICode-Kholiswa.jpg") center, -webkit-gradient(linear, left top, left bottom, from(#2b3946), to(#384a5b));
  background: url("../images/Code4CT-WhyICode-Kholiswa.jpg") center, linear-gradient(180deg, #2b3946, #384a5b);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 9em 26%;
  color: white;
}

.third-background article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  background-color: rgba(255, 120, 187, 0.5);
  padding: 20px;
}

.third-background article h1 {
  margin: 0;
  text-align: center;
  font-size: 40px;
  opacity: 1;
}

.third-background article p {
  margin: 0;
  text-align: center;
  font-size: 20px;
  opacity: 1;
  color: #fff;
}

.third-background button {
  width: 150px;
  border: solid 2px white;
  color: white;
  padding: 10px;
  background-color: transparent;
  margin-left: 100px;
}

.third-background button button:hover {
  background-color: grey;
  opacity: 0.5;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.box3 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  border: solid 1px pink;
}

.box3 .sub-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

.box3 .sub-grid p {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.box3 .sub-grid .image-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.box3 .sub-grid img {
  text-align: center;
  width: 100%;
  float: right;
}

.box4 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  border: 1px solid pink;
}

.box4 article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  background-color: black;
  color: pink;
  grid-gap: 10px;
}

.box4 article h4 {
  font-size: 25px;
  color: #ff0090;
  text-align: center;
}

.box4 article p {
  font-size: 18px;
  text-align: center;
}

.box4 article .icon1 {
  -ms-grid-column: 1;
  grid-column: 1;
  padding: 20px;
}

.box4 article .icon2 {
  -ms-grid-column: 2;
  grid-column: 2;
  padding: 20px;
}

.box4 article .icon3 {
  -ms-grid-column: 3;
  grid-column: 3;
  padding: 20px;
}

.box4 article .icon4 {
  -ms-grid-column: 4;
  grid-column: 4;
  padding: 20px;
}

.box4 article img {
  width: 180px;
  display: block;
  margin: 0 auto;
}

.box5 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  border: 1px solid pink;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
}

.box5 .text-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.box5 .port-images {
  height: 80vh;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.box5 .port-images img {
  width: 100%;
  height: 100%;
}

.box5 .port-images .four-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 100%;
  grid-gap: 10px;
}

.box6 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  border: 1px solid pink;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
}

.box6 .meet-team {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.box6 img {
  width: 50%;
  float: left;
}

.box7 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  border: solid 1px black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  background-color: #000;
  color: white;
}

.box7 div {
  margin: 30px;
}

.box7 div .line {
  width: 50px;
  height: 10px;
  background-color: pink;
  margin: 0 auto;
}

.box7 div h3 {
  text-align: center;
}

.box8 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  border: solid 1px pink;
}

.box8 .fa-paper-plane {
  color: #ffb3b3;
}

.box8 h2 {
  text-align: center;
}

.box8 p {
  text-align: center;
}

.box8 .input {
  text-align: center;
}

.box9 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  border: solid 1px pink;
  background-color: #000;
}

.box9 * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.box9 body > ul {
  position: absolute;
  top: 50%;
  width: 800px;
  height: 200px;
  left: 50%;
  margin-left: -400px;
  margin-top: -130px;
}

.box9 ul > li {
  width: 25%;
  list-style-type: none;
  display: inline-block;
  top: 0;
  padding: 20px;
  height: 50px;
  opacity: 0;
  padding-top: 40px;
  text-align: center;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

.box9 ul li img {
  width: 15%;
}

.box9 .active {
  opacity: 1;
}

.box9 p {
  font-family: sans-serif;
  font-size: 13px;
  color: #646566;
  line-height: 1.5em;
}

.box9 strong {
  color: #fff;
  font-weight: 700;
  font-size: 60px;
  line-height: 100px;
}

.carousel {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  background-color: #000;
  overflow: hidden;
}

.carousel .subCarousel {
  -webkit-animation-name: carousel;
          animation-name: carousel;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  width: 5880px;
  position: relative;
  left: 100%;
}

.carousel .subCarousel img {
  margin-right: 50px;
}

@-webkit-keyframes carousel {
  100% {
    position: relative;
    left: -2880px;
  }
}

@keyframes carousel {
  100% {
    position: relative;
    left: -2880px;
  }
}

.page-footer {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.page-footer .helpAndSupport {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.footer-bar {
  border: solid 2px pink;
  background-color: pink;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

.footer-bar .copy-right {
  display: inline;
  float: left;
}

.footer-bar .followUs {
  display: inline;
  float: right;
}

.footer-bar .followUs h3, .footer-bar .followUs p {
  display: inline;
  float: right;
  margin-right: 20px;
}

@media screen and (max-width: 600px) {
  .drop-down span {
    display: none;
  }
  .main-nav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .main-nav a.icon {
    float: right;
    display: block;
  }
  .main-nav.responsive
.main-nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .main-nav.responsive a {
    background-color: #000;
    float: none;
    display: block;
    text-align: center;
  }
  .responsive .drop-down span {
    display: block;
  }
  .main-nav.responsive .dropdown {
    float: none;
  }
  .main-nav.responsive .dropdown-content {
    position: relative;
  }
  .main-nav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .text {
    font-size: 11px;
  }
  .carousel {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    background-color: #000;
    overflow: hidden;
  }
  .carousel .subCarousel {
    -webkit-animation-name: carousel;
            animation-name: carousel;
    -webkit-animation-duration: 18s;
            animation-duration: 18s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    width: 5880px;
    position: relative;
    left: 100%;
  }
  .carousel .subCarousel img {
    margin-right: 50px;
  }
  @-webkit-keyframes carousel {
    100% {
      position: relative;
      left: -2880px;
    }
  }
  @keyframes carousel {
    100% {
      position: relative;
      left: -2880px;
    }
  }
  .box8 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    border: solid 1px pink;
  }
  .box8 .fa-paper-plane {
    color: #ffb3b3;
  }
  .box8 h2 {
    text-align: center;
  }
  .box8 p {
    text-align: center;
  }
  .box8 .input {
    text-align: center;
  }
  .box6 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    border: 1px solid pink;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .box6 .meet-team {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .box6 img {
    width: 50%;
    float: left;
  }
  .box5 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    border: 1px solid pink;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .box5 .text-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .box5 .port-images {
    height: 431vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .box5 .port-images img {
    width: 100%;
  }
  .box5 .port-images .four-images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 100%;
    grid-gap: 10px;
  }
  .box4 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    border: 1px solid pink;
  }
  .box4 article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    background-color: black;
    color: pink;
    grid-gap: 10px;
  }
  .box4 article h4 {
    font-size: 25px;
    color: #ff0090;
    text-align: center;
  }
  .box4 article p {
    font-size: 18px;
    text-align: center;
  }
  .box4 article .icon1 {
    -ms-grid-column: 1;
    grid-column: 1;
    padding: 20px;
  }
  .box4 article .icon2 {
    -ms-grid-column: 1;
    grid-column: 1;
    padding: 20px;
  }
  .box4 article .icon3 {
    -ms-grid-column: 1;
    grid-column: 1;
    padding: 20px;
  }
  .box4 article .icon4 {
    -ms-grid-column: 1;
    grid-column: 1;
    padding: 20px;
  }
  .box4 article img {
    width: 180px;
    display: block;
    margin: 0 auto;
  }
  .box2 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    border: solid 1px pink;
  }
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 10px;
    padding: 10px;
  }
  article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    background-color: rgba(255, 120, 187, 0.5);
    padding: 20px;
  }
  article h1 {
    margin: 0;
    text-align: center;
    font-size: 40px;
    opacity: 1;
  }
  article p {
    margin: 0;
    text-align: center;
    font-size: 20px;
    opacity: 1;
    color: #fff;
  }
  .page-footer {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .page-footer .helpAndSupport {
    -ms-grid-column: 1;
    grid-column: 1/1;
  }
  .footer-bar {
    border: solid 2px pink;
    background-color: pink;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
  }
  .footer-bar .copy-right {
    display: inline;
    float: left;
  }
  .footer-bar .followUs {
    display: inline;
    float: right;
  }
  .footer-bar .followUs h3, .footer-bar .followUs p {
    display: inline;
    float: right;
    margin-right: 20px;
  }
  .box7 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    border: solid 1px black;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    background-color: #000;
    color: white;
  }
  .box7 div {
    margin: 30px;
  }
  .box7 div .line {
    width: 50px;
    height: 10px;
    background-color: pink;
    margin: 0 auto;
  }
  .box7 div h3 {
    text-align: center;
  }
  .box3 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    border: solid 1px pink;
  }
  .box3 .sub-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .box3 .sub-grid p {
    -ms-grid-row: 2;
    grid-row: 2/2;
  }
  .box3 .sub-grid .image-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .box3 .sub-grid img {
    text-align: center;
    width: 100%;
    float: right;
  }
}

@media screen and (min-width: 960px) {
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
  }
  .box5 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    border: 1px solid pink;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
  }
  .box5 .text-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .box5 .port-images {
    height: 80vh;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .box5 .port-images img {
    width: 100%;
    height: 100%;
  }
  .box5 .port-images .four-images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    height: 100%;
    grid-gap: 10px;
  }
  .box4 {
    margin-left: 5px;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    border: 1px solid pink;
  }
  .box4 article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    background-color: black;
    color: pink;
    grid-gap: 10px;
  }
  .box4 article h4 {
    font-size: 25px;
    color: #ff0090;
    text-align: center;
  }
  .box4 article p {
    font-size: 18px;
    text-align: center;
  }
  .box4 article .icon1 {
    -ms-grid-column: 1;
    grid-column: 1;
    padding: 20px;
  }
  .box4 article .icon2 {
    -ms-grid-column: 2;
    grid-column: 2;
    padding: 20px;
  }
  .box4 article .icon3 {
    -ms-grid-column: 3;
    grid-column: 3;
    padding: 20px;
  }
  .box4 article .icon4 {
    -ms-grid-column: 4;
    grid-column: 4;
    padding: 20px;
  }
  .box4 article img {
    width: 180px;
    display: block;
    margin: 0 auto;
  }
  .box3 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    border: solid 1px pink;
  }
  .box3 .sub-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
  .box3 .sub-grid p {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .box3 .sub-grid .image-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .box3 .sub-grid img {
    text-align: center;
    width: 100%;
    float: right;
  }
  .box8 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    border: solid 1px pink;
  }
  .box8 .fa-paper-plane {
    color: #ffb3b3;
  }
  .box8 h2 {
    text-align: center;
  }
  .box8 p {
    text-align: center;
  }
  .box8 .input {
    text-align: center;
  }
  .box2 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    border: solid 1px pink;
  }
  article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    background-color: rgba(255, 120, 187, 0.5);
    padding: 20px;
  }
  article h1 {
    margin: 0;
    text-align: center;
    font-size: 40px;
    opacity: 1;
  }
  article p {
    margin: 0;
    text-align: center;
    font-size: 20px;
    opacity: 1;
    color: #fff;
  }
  .text {
    font-size: 11px;
  }
}

.contact-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
}

.contact-us {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  border: 1px pink solid;
}

.page-footer2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.page-footer2 .helpAndSupport2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.footer-bar2 {
  border: solid 2px pink;
  background-color: pink;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

.footer-bar2 .copy-right2 {
  display: inline;
  float: left;
}

.footer-bar2 .followUs2 {
  display: inline;
  float: right;
}

.footer-bar2 .followUs2 h3, .footer-bar2 .followUs2 p {
  display: inline;
  float: right;
  margin-right: 20px;
}

.contact-us {
  text-align: center;
  background-color: #c1bbaf;
}

.contactUs-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}

.contactUs-container .contact-column {
  float: right;
}

form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 10px;
}

form form {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

form h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

form #textarea {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

form .email {
  background-color: pink;
  border-color: pink;
}

#contact-form {
  float: left;
}

.google-map {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .contact-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .contact-us {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    border: 1px pink solid;
  }
  .page-footer2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .page-footer2 .helpAndSupport2 {
    -ms-grid-column: 1;
    grid-column: 1/1;
  }
  .footer-bar2 {
    border: solid 2px pink;
    background-color: pink;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
  }
  .footer-bar2 .copy-right2 {
    display: inline;
    float: left;
  }
  .footer-bar2 .followUs2 {
    display: inline;
    float: right;
    margin-right: 20px;
  }
  .contactUs-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }
  .contactUs-container .contact-column {
    float: right;
  }
  form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 10px;
  }
  form form {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  form h2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  form #textarea {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  form .email {
    background-color: pink;
    border-color: pink;
  }
  .google-map {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    width: 100%;
  }
}

.about-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
}

.page-footerAbout {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.page-footerAbout .helpAndSupportAbout {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.footer-barAbout {
  border: solid 2px pink;
  background-color: pink;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr auto;
      grid-template-columns: 1fr 1fr auto;
}

.footer-barAbout .copy-rightAbout {
  display: inline;
}

.footer-barAbout .followUsAbout {
  float: right;
}

.footer-barAbout .followUsAbout p, .footer-barAbout .followUsAbout h3 {
  display: inline;
  margin-right: 20px;
}

.about-us {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  text-align: center;
  background-color: #c1bbaf;
}

.section {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 30px;
}

.section .column-one {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

#columnOneButton {
  margin-left: 100px;
  background-color: #ffb3b3;
  border-color: #ffb3b3;
}

.column-two img {
  width: 100%;
}

.section-two {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 20px;
}

.section-two .column-two {
  -ms-grid-column: 2;
  grid-column: 2/2;
}

.sectionTwoColumn img {
  width: 100%;
}

.subGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-gap: 10px;
}

.subGrid .sub-gridOne {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.timer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  grid-gap: 50px;
  width: 100%;
  height: 250px;
  background-color: black;
  padding-left: 80px;
  color: white;
}

/*class circle width,margin,display,position,and text-align*/
.circle {
  width: 100%;
  margin: 6px 20px 20px;
  display: inline-block;
  position: relative;
  text-align: center;
}

/*class timer div width,height,padding-top*/
.timer div {
  width: 150px;
  height: 150px;
  padding-top: 50px;
}

.fa-paper-plane {
  color: #ffb3b3;
}

div#subscribe {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

div#subscribe h2 {
  text-align: center;
}

div#subscribe p {
  text-align: center;
}

div#subscribe .input {
  text-align: center;
}

div#subscribe .input input {
  border-color: #ffb3b3;
}

div#subscribe .submit {
  background-color: #ffb3b3;
  border-color: #ffb3b3;
}

@media screen and (max-width: 600px) {
  .about-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  div#subscribe {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  div#subscribe h2 {
    text-align: center;
  }
  div#subscribe p {
    text-align: center;
  }
  div#subscribe .input {
    text-align: center;
  }
  div#subscribe .input input {
    border-color: #ffb3b3;
  }
  div#subscribe .submit {
    background-color: #ffb3b3;
    border-color: #ffb3b3;
  }
  .section {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 30px;
  }
  .section-two {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 20px;
  }
  .section-two .column-two {
    -ms-grid-column: 1;
    grid-column: 1/1;
  }
  .timer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
    grid-gap: 50px;
    width: 100%;
    height: 1000px;
    background-color: black;
    padding-left: 80px;
    color: white;
  }
  /*class circle width,margin,display,position,and text-align*/
  .circle {
    width: 100%;
    margin: 6px 20px 20px;
    display: inline-block;
    position: relative;
    text-align: center;
  }
  /*class timer div width,height,padding-top*/
  .timer div {
    width: 150px;
    height: 150px;
    padding-top: 50px;
  }
  .page-footerAbout {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .page-footerAbout .helpAndSupportAbout {
    -ms-grid-column: 1;
    grid-column: 1/1;
  }
  .footer-barAbout {
    border: solid 2px pink;
    background-color: pink;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .footer-barAbout .copy-rightAbout {
    display: inline;
  }
  .footer-barAbout .followUsAbout {
    float: right;
  }
  .footer-barAbout .followUsAbout p, .footer-barAbout .followUsAbout h3 {
    display: inline;
    margin-right: 20px;
  }
}

.portfolio-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  grid-gap: 10px;
}

#flexGallery {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  background: #333;
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

#flexGallery div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: .5vw;
}

#flexGallery div {
  width: 200px;
  height: 200px;
  border: solid 2px black;
}

@media screen and (max-width: 600px) {
  .portfolio-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 10px;
  }
  #flexGallery {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    background: #333;
    padding: .5vw;
    font-size: 0;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
  }
  #flexGallery div {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 200px;
    margin: .5vw;
  }
  #flexGallery div {
    width: 200px;
    height: 200px;
    border: solid 2px black;
  }
}

.courses-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
}

.subCoursesGrid {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  grid-gap: 50px;
}

.subCoursesGrid h1 {
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  background-color: pink;
  width: 100%;
  height: 100px;
  line-height: 100px;
}

.subCoursesGrid i {
  color: #e42c4b;
}

.subCoursesGrid .cart {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  border: 2px solid pink;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px pink;
          box-shadow: 5px 5px 5px 5px pink;
  width: 300px;
  height: 300px;
}

.subCoursesGrid .courseOne {
  border: 2px solid pink;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px pink;
          box-shadow: 5px 5px 5px 5px pink;
  width: 300px;
  height: 300px;
}

.subCoursesGrid .courseTwo {
  border: 2px solid pink;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px pink;
          box-shadow: 5px 5px 5px 5px pink;
  width: 300px;
  height: 300px;
}

.subCoursesGrid .courseThree {
  border: 2px solid pink;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px pink;
          box-shadow: 5px 5px 5px 5px pink;
  width: 300px;
  height: 300px;
}

.subCoursesGrid .courseFour {
  border: 2px solid pink;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px pink;
          box-shadow: 5px 5px 5px 5px pink;
  width: 300px;
  height: 300px;
}

.subCoursesGrid .courseFive {
  border: 2px solid pink;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px pink;
          box-shadow: 5px 5px 5px 5px pink;
  width: 300px;
  height: 300px;
}

.subCoursesGrid .courseSix {
  border: 2px solid pink;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px pink;
          box-shadow: 5px 5px 5px 5px pink;
  width: 300px;
  height: 300px;
}

.subCoursesGrid .courseSeven {
  border: 2px solid pink;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px pink;
          box-shadow: 5px 5px 5px 5px pink;
  width: 300px;
  height: 300px;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.subCoursesGridTwo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  grid-gap: 50px;
}

.subCoursesGridTwo h1 {
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  background-color: pink;
  width: 100%;
  height: 100px;
  line-height: 100px;
}

.subCoursesGridTwo i {
  color: #e42c4b;
}

.subCoursesGridTwo .courseEight {
  border: 2px solid pink;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px pink;
          box-shadow: 5px 5px 5px 5px pink;
  width: 300px;
  height: 300px;
}

.subCoursesGridTwo .courseNine {
  border: 2px solid pink;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px pink;
          box-shadow: 5px 5px 5px 5px pink;
  width: 300px;
  height: 300px;
}

.subCoursesGridTwo .courseTen {
  border: 2px solid pink;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px pink;
          box-shadow: 5px 5px 5px 5px pink;
  width: 300px;
  height: 300px;
}

.subCoursesGridThree {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  grid-gap: 50px;
}

.subCoursesGridThree h1 {
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  background-color: pink;
  width: 100%;
  height: 100px;
  line-height: 100px;
}

.subCoursesGridThree i {
  color: #e42c4b;
}

.subCoursesGridThree .courseEleven {
  border: 2px solid pink;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px pink;
          box-shadow: 5px 5px 5px 5px pink;
  width: 350px;
  height: 350px;
}

.subCoursesGridThree .courseTwelve {
  border: 2px solid pink;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px pink;
          box-shadow: 5px 5px 5px 5px pink;
  width: 300px;
  height: 300px;
}

.subCoursesGridFour {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  grid-gap: 50px;
}

.subCoursesGridFour h1 {
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  background-color: pink;
  width: 100%;
  height: 100px;
  line-height: 100px;
}

.subCoursesGridFour i {
  color: #e42c4b;
}

.subCoursesGridFour .courseThirteen {
  border: 2px solid pink;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px pink;
          box-shadow: 5px 5px 5px 5px pink;
  width: 300px;
  height: 300px;
}

.subCoursesGridFour .courseFourteen {
  border: 2px solid pink;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px pink;
          box-shadow: 5px 5px 5px 5px pink;
  width: 300px;
  height: 300px;
}

.subCoursesGridFour .courseFifteen {
  border: 2px solid pink;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px pink;
          box-shadow: 5px 5px 5px 5px pink;
  width: 300px;
  height: 300px;
}

.subCoursesGridFour .courseSixteen {
  border: 2px solid pink;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px pink;
          box-shadow: 5px 5px 5px 5px pink;
  width: 300px;
  height: 300px;
}

.subCoursesGridFive {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  grid-gap: 50px;
}

.subCoursesGridFive h1 {
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  background-color: pink;
  width: 100%;
  height: 100px;
  line-height: 100px;
}

.subCoursesGridFive i {
  color: #e42c4b;
}

.subCoursesGridFive .courseNineteen {
  border: 2px solid pink;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px pink;
          box-shadow: 5px 5px 5px 5px pink;
  width: 300px;
  height: 300px;
}

.subCoursesGridFive .courseTwenty {
  border: 2px solid pink;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px pink;
          box-shadow: 5px 5px 5px 5px pink;
  width: 300px;
  height: 300px;
}

.subCoursesGridFive .courseTwentyOne {
  border: 2px solid pink;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px pink;
          box-shadow: 5px 5px 5px 5px pink;
  width: 300px;
  height: 300px;
}

.subCoursesGridFive .courseTwentyTwo {
  border: 2px solid pink;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px pink;
          box-shadow: 5px 5px 5px 5px pink;
  width: 300px;
  height: 300px;
}

.subCoursesGridFive .courseTwentyThree {
  border: 2px solid pink;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px pink;
          box-shadow: 5px 5px 5px 5px pink;
  width: 300px;
  height: 300px;
}

.subCoursesGridFive .courseTwentyFour {
  border: 2px solid pink;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px pink;
          box-shadow: 5px 5px 5px 5px pink;
  width: 300px;
  height: 300px;
}

.subCoursesGridSix {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  grid-gap: 50px;
}

.subCoursesGridSix h1 {
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  background-color: pink;
  width: 100%;
  height: 100px;
  line-height: 100px;
}

.subCoursesGridSix i {
  color: #e42c4b;
}

.subCoursesGridSix .coursesOne {
  border: 2px solid pink;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px pink;
          box-shadow: 5px 5px 5px 5px pink;
  width: 100%;
  height: 800px;
}

.subCoursesGridSix .coursesTwo {
  border: 2px solid pink;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px pink;
          box-shadow: 5px 5px 5px 5px pink;
  width: 100%;
  height: 800px;
}

.subCoursesGridSix .coursesThree {
  border: 2px solid pink;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px pink;
          box-shadow: 5px 5px 5px 5px pink;
  width: 100%;
  height: 800px;
}

.subCoursesGridSix html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 600px) {
  .courses-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .subCoursesGrid {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 50px;
  }
  .subCoursesGrid h1 {
    text-align: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    background-color: pink;
    width: 100%;
    height: 100px;
    line-height: 100px;
  }
  .subCoursesGrid i {
    color: #e42c4b;
  }
  .subCoursesGrid .cart {
    display: none;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    grid-row: 1/1;
    border: 2px solid pink;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 5px pink;
            box-shadow: 5px 5px 5px 5px pink;
    width: 300px;
    height: 300px;
  }
  .subCoursesGrid .courseOne {
    border: 2px solid pink;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 5px pink;
            box-shadow: 5px 5px 5px 5px pink;
    width: 300px;
    height: 300px;
  }
  .subCoursesGrid .courseTwo {
    border: 2px solid pink;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 5px pink;
            box-shadow: 5px 5px 5px 5px pink;
    width: 300px;
    height: 300px;
  }
  .subCoursesGrid .courseThree {
    border: 2px solid pink;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 5px pink;
            box-shadow: 5px 5px 5px 5px pink;
    width: 300px;
    height: 300px;
  }
  .subCoursesGrid .courseFour {
    border: 2px solid pink;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 5px pink;
            box-shadow: 5px 5px 5px 5px pink;
    width: 300px;
    height: 300px;
  }
  .subCoursesGrid .courseFive {
    border: 2px solid pink;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 5px pink;
            box-shadow: 5px 5px 5px 5px pink;
    width: 300px;
    height: 300px;
  }
  .subCoursesGrid .courseSix {
    border: 2px solid pink;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 5px pink;
            box-shadow: 5px 5px 5px 5px pink;
    width: 300px;
    height: 300px;
  }
  .subCoursesGrid .courseSeven {
    border: 2px solid pink;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 5px pink;
            box-shadow: 5px 5px 5px 5px pink;
    width: 300px;
    height: 300px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .subCoursesGridTwo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 50px;
  }
  .subCoursesGridTwo h1 {
    text-align: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    background-color: pink;
    width: 100%;
    height: 100px;
    line-height: 100px;
  }
  .subCoursesGridTwo i {
    color: #e42c4b;
  }
  .subCoursesGridTwo .courseEight {
    border: 2px solid pink;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 5px pink;
            box-shadow: 5px 5px 5px 5px pink;
    width: 300px;
    height: 300px;
  }
  .subCoursesGridTwo .courseNine {
    border: 2px solid pink;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 5px pink;
            box-shadow: 5px 5px 5px 5px pink;
    width: 300px;
    height: 300px;
  }
  .subCoursesGridTwo .courseTen {
    border: 2px solid pink;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 5px pink;
            box-shadow: 5px 5px 5px 5px pink;
    width: 300px;
    height: 300px;
  }
  .subCoursesGridThree {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 50px;
  }
  .subCoursesGridThree h1 {
    text-align: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    background-color: pink;
    width: 100%;
    height: 100px;
    line-height: 100px;
  }
  .subCoursesGridThree i {
    color: #e42c4b;
  }
  .subCoursesGridThree .courseEleven {
    border: 2px solid pink;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 5px pink;
            box-shadow: 5px 5px 5px 5px pink;
    width: 350px;
    height: 350px;
  }
  .subCoursesGridThree .courseTwelve {
    border: 2px solid pink;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 5px pink;
            box-shadow: 5px 5px 5px 5px pink;
    width: 300px;
    height: 300px;
  }
  .subCoursesGridFour {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 50px;
  }
  .subCoursesGridFour h1 {
    text-align: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    background-color: pink;
    width: 100%;
    height: 100px;
    line-height: 100px;
  }
  .subCoursesGridFour i {
    color: #e42c4b;
  }
  .subCoursesGridFour .courseThirteen {
    border: 2px solid pink;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 5px pink;
            box-shadow: 5px 5px 5px 5px pink;
    width: 300px;
    height: 300px;
  }
  .subCoursesGridFour .courseFourteen {
    border: 2px solid pink;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 5px pink;
            box-shadow: 5px 5px 5px 5px pink;
    width: 300px;
    height: 300px;
  }
  .subCoursesGridFour .courseFifteen {
    border: 2px solid pink;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 5px pink;
            box-shadow: 5px 5px 5px 5px pink;
    width: 300px;
    height: 300px;
  }
  .subCoursesGridFour .courseSixteen {
    border: 2px solid pink;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 5px pink;
            box-shadow: 5px 5px 5px 5px pink;
    width: 300px;
    height: 300px;
  }
  .subCoursesGridFive {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    grid-gap: 50px;
  }
  .subCoursesGridFive h1 {
    text-align: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    background-color: pink;
    width: 100%;
    height: 100px;
    line-height: 100px;
  }
  .subCoursesGridFive i {
    color: #e42c4b;
  }
  .subCoursesGridFive .courseNineteen {
    border: 2px solid pink;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 5px pink;
            box-shadow: 5px 5px 5px 5px pink;
    width: 300px;
    height: 300px;
  }
  .subCoursesGridFive .courseTwenty {
    border: 2px solid pink;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 5px pink;
            box-shadow: 5px 5px 5px 5px pink;
    width: 300px;
    height: 300px;
  }
  .subCoursesGridFive .courseTwentyOne {
    border: 2px solid pink;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 5px pink;
            box-shadow: 5px 5px 5px 5px pink;
    width: 300px;
    height: 300px;
  }
  .subCoursesGridFive .courseTwentyTwo {
    border: 2px solid pink;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 5px pink;
            box-shadow: 5px 5px 5px 5px pink;
    width: 300px;
    height: 300px;
  }
  .subCoursesGridFive .courseTwentyThree {
    border: 2px solid pink;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 5px pink;
            box-shadow: 5px 5px 5px 5px pink;
    width: 300px;
    height: 300px;
  }
  .subCoursesGridFive .courseTwentyFour {
    border: 2px solid pink;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 5px pink;
            box-shadow: 5px 5px 5px 5px pink;
    width: 300px;
    height: 300px;
  }
}
/*# sourceMappingURL=styles.css.map */